#header
{
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    text-align: right;
}

#footer
{
    width: 100%;
    height: 100px;
    background-color: lightgreen;
    margin-top: 20px;
}

h1{
    text-align: center;
}

#cardData
{
    display:  flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

#topHeader
{
    top: 0;
    position: sticky;
    z-index: 3;

}